.invisible {
  visibility: hidden;
}

main {
  display: flex;
  flex-direction: row;
}

#content-list {
  width: fit-content;
  margin-right: 3em;
    li, a {
        color: var(--color_06);
        font-family: var(--font-aptos);
        font-size: var(--Überschrift-01);
        line-height: 1.5;
    }
}

#content-container {
  flex-grow: 1;
  padding: 0 2em;

  overflow-x: hidden;
  overflow-y: scroll;

  div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1em;

    #datei-name {
        margin: 0;
        color: var(--maincolor);
        font-family: var(--font-aptos);
        font-size: var(--Überschrift-02);
    }
  }

  #file-viewer {
    width: 100%;
    height: 100%;
  }

    a{
        color: var(--color_06);
        font-family: var(--font-aptos);
        font-size: var(--Überschrift-01);
        line-height: 1.2;
    }

}
