#top-welcome {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 20em;

  > div {
    padding: 1em;
    flex-grow: 1;
  }

  > img {
    flex-grow: 1;
    object-fit: contain;
    max-height: 100%;
    width: auto;
    min-width: fit-content;
    padding: 1em;
  }
}

#main-content {
    h1 {
        font-size: var(--Überschrift-03);
        font-family: var(--font-verdana);
        font-weight: bold;
        color: var(--maincolor);
    }
}

#aktuelles {
  padding: 1em;

    h2 {
        font-size: var(--Überschrift-03);
        font-family: var(--font-verdana);
        color: var(--maincolor);
    }

  > .mitteilung {
    h3 {
      margin: 0px;
      padding: 0px;
      text-decoration: underline;
        font-family: var(--font-verdana);
        font-size: var(--Überschrift-02);
        color: var(--shat_03);
    }
    > .datum {
      margin: 0px;
      padding: 0px;
    }
  }
}