body {
    margin: 0;
    display: grid;
    grid-auto-rows: 99vh;
    grid-template-columns: 250px auto;
}

body > * {
    border: 1px black solid;
}

#body {
    display: grid;
    grid-template-rows: 60px auto 80px;
}

#body > * {
    border: 1px black solid
}

#body header {
    text-align: center;
    padding-top: 20px;
}

#body footer ul {
    display: flex;
    justify-content: right;
    padding-top: 30px;
    list-style-type: none;
}

#body footer li {
    padding-left: 20px;
    padding-right:20px;
}

#body footer li + li {
    border-left: 1px black solid;
}

#sidebar {
    position: relative;
}

#sidebar button {
    position: absolute;
    right: 0;
}

#sidebar .bottom {
    position: absolute;
    bottom: 0;
}

#sidebar .top li {
    margin-top: 30%;
}