:root{
    /*Hauptfarben*/
    --maincolor: #236C93;
    --color_01: #44738C;
    --color_02: #657A86;
    --color_03: #286D92;
    --color_04: #49748B;
    --color_05: #6A7B84;
    --color_06: #2E6E91;
    --color_07: #4F758A;
    --color_08: #707C83;
    --color_09: #337090;
    --color_10: #457789;
    --color_11: #757E82;
    --color_12: #39718F;
    --color_13: #5A7888;
    --color_14: #7B7F81;
    --color_15: #3E728D;
    --color_16: #5F7987;
    --color_17: #808080;
    --schwarz: #000000;
    --weiss: #FFFFFF;

    /*Schattierungen*/
    --mainshatt: #236C93;
    --shat_01: #71A0B9;
    --shat_02: #BED4DF;
    --shat_03: #307599;
    --shat_04: #7EA9BF;
    --shat_05: #CBDCE6;
    --shat_15: #6497B3;
    --shat_16: #B1CBD9;

    /**
Die Farbtöne schwarz und weiß bilden die Basis jeder Anwendung
Sie können flächig als Hintergrundfarbe oder in der Typografie eingesetzt werden
Blau(maincolor) wird ausschließlich als Auszeichnungsfarbe ergänzt und niemals vollflächig verwendet
Weitere, nicht definierte Farben dürfen nur innerhalb eines Übungsblattes verwendet werden
 */

    /*Fonts*/
    --font-verdana: 'Verdana', sans-serif;
    --font-aptos: 'Aptos', sans-serif;
    /*--font-fantasy: 'Fantasy', sans-serif; iNTERNER Tester*/

    /*Textgröße*/
    --Text-klein: 14pt;
    --Text-normal: 24pt;
    --Text-groß: 34pt;

}

.border-separation {
    display: grid;
    place-items: center right;
    ul {
        display: flex;
        flex-direction: row;
        justify-content: right;
    }
    & li {
        list-style: none;
        padding-left: 10%;
        padding-right: 10%;
    }
    & li ~ li {
        border-left: 1px black solid;
    }
}

body {
    position: relative;
    margin: 0;
}

#page {
    display: flex;
    flex-direction: row;

    min-height: 100vh;
    min-width: 100vw;

    & > * {
        flex-grow: 1;
    }
}

#sidebar {
    max-width: 170px;
    min-width: 170px;

    border-right: 2px black solid;
}

#content {
    display: grid;
    grid-template-rows: 60px auto 60px;

    & #header-content {
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--maincolor);
        font-family: var(--font-verdana);
        font-weight: bold;
        font-size: var(--Text-groß);

    }

    & #footer {
        font-family: var(--font-verdana);
        color: var(--color_17);
        font-size: var(--Text-klein);

    }

    & header {
        border-bottom: 2px black solid;
    }
    & main {
        border-bottom: 2px black solid;
    }
}


body:has(#button-overlay > #sidebar-toggle:checked) {
    #sidebar {
        display: none;
    }
}

#sidebar-toggle:checked {
    position: absolute;
    top: 10px;
    left: 10px
}

#sidebar-toggle:not(:checked) {
    position: absolute;
    top: 10px;
    left: 140px
}

#sidebar-menu a {
    color: var(--color_06);
    font-family: var(--font-aptos);
    font-size: var(--Text-klein);
    line-height: 2;
}

#footer-content ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 1em; /* Abstand zwischen den Links */

}

#footer-content a {
    color:   var(--color_06);
    font-family: var(--font-aptos);
    font-size: var(--Text-klein);
    text-decoration: none;
}

#footer-content a:hover {
    color: var(--color_01);
    text-decoration: underline; /* optional */
}
